@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body{
    background-color: #fff;
    font-family: "Raleway";
    font-weight: 300;
    

}
#nav-top{
background-color: seagreen;
font-size: 18px;
padding: 0;
margin: 0;
overflow: hidden;

}
#nav-top li{
    text-align: center;
    width: 15%;
    display: block;
    float: left;
    border-right: #fff 1px solid;

}
#nav-top li :last-child{
    border-right: none;
}
#nav-top a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 5px;
}
#nav-top a:hover{
    color: #333333;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: seagreen;


}
img{
    padding-top: 15px;
}
.title{
    color: teal;
    font-size: 45px;
    padding-right: 23px;

}
.title-sub{
    color: #444444;
    font-size: 25px;


}
.container{
    width: 100%;
    border: rgb(124, 112, 112)  2px solid;
    margin: 50px auto;
    overflow: hidden;
}
.container div {
    border: #fff 1px solid;
}
.blog{
    float: left;
    position: relative;
    
}
.col-1 {
    float: left;
    width: 100%;
    box-sizing: border-box;
}
.col-4 {
    float: right;
    width: 33.33333%;
    box-sizing: border-box;
}

.col-8 {
    float: right;
    width: 66.66666%;
    box-sizing: border-box;
}
.date{
    color: #b1b1b1;
    margin-bottom: 0;
    font-size: 30px;
    padding: 10px 0;


}
.blog-title{
    color: #000;
    font-weight: bold;
    font-size: 30px;

}
.blog-body:first-of-type:first-letter {
    color: #444;
    float:left;
    font-size: 50px;
    line-height: 1;
    margin-right: 10px;

}
.right-align{
    text-align: left;
}
#sidebar{
    float:right;
    position: absolute;
    right:  10px;
    padding: 0px;
    
}
#side-nav{
    font-size: 16px;
    float:right;
}
#side-nav:hover{
    color: #444;
}
.sidebar-title{
    color: #000;
    font-weight: bold;
    font-size: 16px;

}
.sidebar-body{
    color: #444;
    float: left;
    font-size: 16px;
}
#side-nav{
    font-size: 16px;

}
#side-nav :hover{
    color: #444;
}
.sidebar-title{
    color: #000;
    font-weight: bold;
    font-size: 20px;
}
.sidebar-body{
    color: #444;
    float: left;
    font-size: 16px;
}
.blog-body{
    width : 60%;
}
#footer-nav{
    text-align: left;
    padding: 0;
    
}
#footer-nav li{
    display: inline;
    list-style: none;
    border-right: #d1d1d1 1.5px solid;
    padding: 0 4px;
}
#footer-nav li :last-child{
    border: none;
}

